<svelte:options tag={null} />
<script lang="typescript">

</script>


<div class="{{ dashCase name }}">
  Simple Svelte Component
</div>


<style lang="scss">
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Helvetica Neue", "Helvetica", sans-serif;
  }
  
  .{{ dashCase name }} {
    background: #000;
    color: #fff;
  }
</style>
