import svelte from 'rollup-plugin-svelte';
import commonjs from '@rollup/plugin-commonjs';
import resolve from '@rollup/plugin-node-resolve';
import serve from 'rollup-plugin-dev-server';
import livereload from 'rollup-plugin-livereload';
import { terser } from 'rollup-plugin-terser';
import sveltePreprocess from 'svelte-preprocess';
import typescript from '@rollup/plugin-typescript';
const production = process.env.NODE_ENV === 'production';
const dev = process.env.NODE_ENV === 'development';

export default {
  input: 'src/index.ts',
  output: {
    sourcemap: true,
    format: 'umd',
    name: 'app',
    file: 'dist/{{ name }}.js'
  },
  plugins: [
    svelte({
      preprocess: sveltePreprocess(),
      compilerOptions: {
        // enable run-time checks when not in production
        customElement: true,
        dev: !production
      }
    }),
    commonjs(),
    resolve({
      browser: true,
      dedupe: ['svelte']
    }),
    dev && serve({
      open: true,
      verbose: true,
      allowCrossOrigin: true,
      historyApiFallback: false,
      host: 'localhost',
      port: 5050,
    }),
    dev && livereload({ watch: ['', 'dist'] }),
    typescript({
      sourceMap: !production,
      inlineSources: !production,
    }),
    // If we're building for production (npm run build
    // instead of npm run dev), minify
    production && 
    terser({
      output: {
        comments: "all"
      },
    })
  ],
  watch: {
    clearScreen: false
  }
};
