:root {
  --retail-primary-color: #1A1A1D;
  --retail-secondary-color: #C3073F;
  --retail-tertiary-color: #4E4E50;
  --retail-highlight-color: #6F2232;
  --retail-shade-color: #8b8b9e;
  --retail-disabled-color: #797979;
  --retail-text-color: #fff;
  --retail-border-color: #fff;
  --retail-border-width: 4px;
  --retail-icon-color: #C3073F;
  --retail-error-color: #ff0033;
  --retail--success-color: #4BB543;
  --retail-font-family: "Helvetica";
  --retail-null-color: none;
}
